
# Ignore dynaconf secret files
.secrets.*

settings.toml

manualog/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
